.list-action {
  float: right;

  .list-button {
    margin-right: 5px;
  }
}

.add-todo-container {
  margin: 10px 0;

  .todo-input {
    border: 1px solid blue;
  }

  .add-button {
    background-color: cadetblue;
  }
}

.float {
  position: fixed;
  width: 60px;
  height: 60px;
  bottom: 40px;
  right: 40px;
  background-color: #0C9;
  color: #FFF;
  border-radius: 50px;
  text-align: center;
  box-shadow: 2px 2px 3px #999;
}

.my-float {
  margin-top: 22px;
}
